In [7]:
# import pandas
import pandas as pd

# Load the json file to dataframe
df = pd.read_json('../data/location.json')
df.head()

   id  postcode                          suburb state  latitude  longitude
0   1       200  Australian National University   ACT    -35.28     149.12
1   2       221                          Barton   ACT    -35.20     149.10
2   3       800                          Darwin    NT    -12.80     130.96
3   4       801                          Darwin    NT    -12.80     130.96
4   5       804                           Parap    NT    -12.43     130.84

In [8]:
# Reset the json format to Django
result = []
for i in range(len(df)):
    result.append({
        "model": "Breathe_Ease_Home.location",
        "pk": int(df['id'][i]),
        "fields": {
            "loc_postcode": str(df['postcode'][i]),
            "loc_suburb": str(df['suburb'][i]),
            "loc_state": str(df['state'][i]),
            "loc_lat": float(df['latitude'][i]),
            "loc_long": float(df['longitude'][i])
        }
    })

In [9]:
# import json
import json
# Save the result to json file
with open('../data/location_cleaned.json', 'w') as f:
    json.dump(result, f, indent=4)